<nav class="navbar">
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href=""{{ site.baseurl }}/about/">About</a></li>
    <li><a href="{{ site.baseurl }}/registration/">Registration</a></li>
    <li><a href="{{ site.baseurl }}/location/">Location</a></li>
    <li><a href="{{ site.baseurl }}/committee/">Commitee</a></li>
    <li><a href="{{ site.baseurl }}/guidelines/">Guidelines</a></li>
    <li><a href="{{ site.baseurl }}/contactus/">Contact Us</a></li>
    
  </ul>
</nav>
