<nav class="navbar">
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/about.md">About</a></li>
    <li><a href="/registration">Registration</a></li>
    <li><a href="/location">Location</a></li>
    <li><a href="/committee">Commitee</a></li>
    <li><a href="/guidelines">Guidelines</a></li>
    <li><a href="/contactus">Contact Us</a></li>
    
  </ul>
</nav>
