/* Navbar styling */
.navbar {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;      /* Center the nav-list horizontally */
    align-items: center;
    padding: 1rem;
    background-color: #0074ff;
    color: #fff;
    font-family: 'Roboto Slab', sans-serif !important;
}

/* Hamburger icon positioning */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Nav list styling */
.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

/* Nav list items */
.nav-list li a {
    text-decoration: none;
    color: #fff;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex !important;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100vw;
        background-color: #52a0ff;
        position: absolute;
        top: 100%;
        left: 0;
        gap: 0;
    }

    .nav-list.active {
        display: block;
    }
}

  #countdown {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #52a0ff;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    max-width: 400px;
  }
  
  #countdown h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
  }
  
  #countdown-timer {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif !important;
    color: #0074ff;
  }
